<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <!-- Existing content on the left side -->
        <div class="col-lg-7 col-md-12 footer-info">
          <a  class="logo d-flex align-items-center">
            <img src="assets/img/umi_logo.svg" style="zoom:200%;" alt="sgrh_logo">
            <br>
            <img src="assets/img/umi_footer.png" style="zoom:200%;" alt="umi_logo">
          </a>
          <p data-aos="fade-up" data-aos-delay="400">
            <span style="color: #013ca3;">&bull;</span>  Facilitez la gestion des données,<br>
            <span style="color: #013ca3;">&bull;</span>  Automatiser les processus de recrutement,<br>
            <span style="color: #013ca3;">&bull;</span>  Centraliser les informations des employés<br>
            <span style="color: #013ca3;">&bull;</span> Améliorer l'efficacité opérationnelle avec <span style="color: #013ca3;font-weight: bold"> SGRH</span>
          </p>
          <div class="social-links mt-3">
            <a href="https://twitter.com/umi_meknes" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/umi.meknes" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/universitemoulay/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/school/universit%C3%A9-moulay-ismail-mekn%C3%A8s/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <!-- Single image on the right side -->
        <div class="col-lg-5 col-md-12 text-center">
          <img src="assets/img/umi_map2.png" class="img-fluid" alt="Your Single Image">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      Copyright © <strong><span>UMI 2023</span></strong>- Tous droits réservés.
    </div>
  </div>
</footer><!-- End Footer -->

<!-- Back to top button : href= -->
<a type="button" class="back-to-top d-flex align-items-center justify-content-center" (click)="scrollToTop()"><i
  class="bi bi-arrow-up-short"></i></a>
