<!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Exciting Opportunity for a Digital Marketer</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <!-- Job Post Company Start -->
        <div class="job-post-company pt-20 pb-20">
          <div class="container">
            <div class="row justify-content-between">
              <!-- Left Content -->
              <div class="col-xl-7 col-lg-8">
                <!-- Job Single -->
                <div class="single-job-items mb-50">
                  <div class="job-items">
                    <div class="company-img company-img-details">
                      <a href="#"><img src="../../../assets/interns/img/icon/job-list1.png" alt=""></a>
                    </div>
                    <div class="job-tittle">
                      <a href="#">
                        <h4>Digital Marketer</h4>
                      </a>
                      <ul>
                        <li>Creative Agency</li>
                        <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                        <li>$3500 - $4000</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Job Single End -->

                <div class="job-post-details">
                  <div class="post-details1 mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                      <h4>Job Description</h4>
                    </div>
                    <p>
                      Are you a strategic thinker with a passion for digital marketing? We are looking for a Digital Marketer to join our team and take our online presence to new heights. In this role, you will be responsible for developing and implementing comprehensive digital marketing strategies that align with our business objectives.
                    </p>
                    <p>
                      As a key member of our marketing team, you will collaborate with cross-functional teams to create engaging content, manage social media channels, and optimize digital campaigns. We are seeking an individual with a creative mindset, analytical skills, and a deep understanding of the latest digital marketing trends.
                    </p>
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using, "Content here, content here," making it look like readable English.
                    </p>
                  </div>
                  <div class="post-details2  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                      <h4>Required Knowledge, Skills, and Abilities</h4>
                    </div>
                    <ul>
                      <li>System Software Development</li>
                      <li>Mobile Application in iOS/Android/Tizen or other platforms</li>
                      <li>Research and code, libraries, APIs, and frameworks</li>
                      <li>Strong knowledge of the software development life cycle</li>
                      <li>Strong problem-solving and debugging skills</li>
                    </ul>
                  </div>
                  <div class="post-details2  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                      <h4>Education + Experience</h4>
                    </div>
                    <ul>
                      <li>3 or more years of professional design experience</li>
                      <li>Direct response email experience</li>
                      <li>E-commerce website design experience</li>
                      <li>Familiarity with mobile and web apps preferred</li>
                      <li>Experience using Invision a plus</li>
                    </ul>
                  </div>
                </div>

              </div>
              <!-- Right Content -->
              <div class="col-xl-5 col-lg-5">
                <div class="post-details3  mb-50">
                  <!-- Small Section Tittle -->
                  <div class="small-section-tittle">
                    <h4>Job Overview</h4>
                  </div>
                  <ul>
                    <li>Posted date: <span>12 Aug 2019</span></li>
                    <li>Location: <span>New York</span></li>
                    <li>Vacancy: <span>02</span></li>
                    <li>Job nature: <span>Full time</span></li>
                    <li>Salary:  <span>$7,800 yearly</span></li>
                    <li>Application date: <span>12 Sep 2020</span></li>
                  </ul>
                  <div class="apply-btn2">
                    <a href="#" class="btn">Postulez</a>
                  </div>
                </div>
                <div class="post-details4  mb-50">
                  <!-- Small Section Tittle -->
                  <div class="small-section-tittle">
                    <h4>Company Information</h4>
                  </div>
                  <span>Colorlib</span>
                  <p>
                    Colorlib is a leading creative agency committed to delivering innovative solutions. We believe in the power of design and technology to transform businesses. Join us in our journey of creating exceptional digital experiences.
                  </p>
                  <ul>
                    <li>Name: <span>Colorlib </span></li>
                    <li>Web: <span>colorlib.com</span></li>
                    <li>Email: <span>carrier.colorlibgmail.com</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Job Post Company End -->
      </div>
    </div>
  </div>
</div>
