<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Human Resource Management System</h1>
        <br>
        <h2 data-aos="fade-up" data-aos-delay="400" class="heading"><span style="color: #013ca3;"> ◉ </span>Facilitez la gestion des données<br><span style="color: #013ca3;"> ◉ </span> Automatiser les processus de recrutement<br><span style="color: #013ca3;"> ◉ </span> Centraliser les informations des employés<br><span style="color: #013ca3;"> ◉ </span> Améliorer l'efficacité opérationnelle</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a routerLink="/login"
               class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Se Connecter</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<main id="main1">
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2 class="mt-5">Contact</h2>
        <p>Contactez-nous</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Adresse</h3>
                <p>Zitoune Meknès, Maroc<br>B.P. 11201</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Appelez-nous</h3>
                <p>+212 5 35 53 73 21<br>+212 5 35 53 88 70</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p>doyen.fs&#64;umi.ac.ma<br>presidence&#64;umi.ac.ma</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Heures d'ouverture</h3>
                <p>Lundi - Vendredi<br>8:00AM - 18:00PM</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="from_name" class="form-control" placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="from_email" placeholder="Your Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>

        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->

<app-footer></app-footer>
