<app-adminassets></app-adminassets>
<div id="app">
  <div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
      <div class="sidebar-header">
        <img src="assets/img/umi_logo.svg" style="zoom:150%;" srcset="">
      </div>
      <div class="sidebar-menu">
        <ul class="menu">
          <li class='sidebar-title'>Employee</li>

          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="user" width="20"></i>
              <span>Menu Employee</span>
            </a>

            <ul class="submenu ">
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" href="employee/demande-absence" routerLink="/employee/demande-absence">Demande Absence</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" href="employee/consulter-absences" routerLink="/employee/consulter-absences">Absences</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" href="employee/demande-formation" routerLink='/employee/demande-formation'>Demande Formation</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" href="employee/status-demande-formation" routerLink='/employee/status-demande-formation'>Status Formations</a>
              </li>
            </ul>

          </li>
          <li class='sidebar-title'>Administration</li>

          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="briefcase" width="20"></i>
              <span>Employees</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/all-employees">Afficher Employees</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/add-employee">Ajouter Employee</a>
              </li>

            </ul>

          </li>


          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="users" width="20"></i>
              <span>Stagiaires</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/demandes-Stage">Demandes</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/entretien">Entretien</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink='/admin/stagiaire'>Accepter</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/demandes-refusees">Refuser</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/stagiaire-carte">Carte Des Stagiaires</a>
              </li>

            </ul>

          </li>
          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="17.5" viewBox="0 0 640 512"><path fill="#0d6efd" d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9v28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5V291.9c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"/></svg></i>
              <span>Stages</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/stages/add-stage">Add Stage</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/stages/manage-stages">Gérer Les Stages</a>
              </li>

            </ul>

          </li>

          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="clock" width="20"></i>
              <span>Absences</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/demandes-absences">Demandes</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/absences-justifier">Justifier</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/absences-non-justifier">Non Justifier</a>
              </li>

            </ul>

          </li>

          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="file-text" width="20"></i>
              <span>Formations</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/manage-plan">Plan de formations</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/add-plan">Ajouter un Plan</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/manage-demande-formation">Demandes</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/employee-formation">Formations</a>
              </li>
            </ul>

          </li>

        </ul>
      </div>
      <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
  </div>
  <div id="main">
    <app-adminheader>

    </app-adminheader>
    <div class="main-content container-fluid">
      <section class="section">
        <div class="card">
          <div class="card-body">
<div class="global-app">
<!--  <div class="user-form" id="username-page">-->
<!--    <h2>Enter Chatroom</h2>-->
<!--    <form id="usernameForm" (ngSubmit)="connect()">-->
<!--      <label for="nickname">Nickname:</label>-->
<!--      <input type="text" id="nickname" name="nickname" required [(ngModel)]="nickname">-->

<!--      <label for="fullname">Real Name:</label>-->
<!--      <input type="text" id="fullname" name="realname" required [(ngModel)]="fullname">-->

<!--      <button type="submit">Enter Chatroom</button>-->
<!--    </form>-->
<!--  </div>-->

  <div class="chat-container" id="chat-page" *ngIf="nickname && fullname">
    <div class="users-list">
      <div class="users-list-container">
        <div class="message-input">
          <input type="text" id="messageContent" placeholder="à tous les utilisateurs" name="messageContent" [(ngModel)]="messageContent">
          <label for="fileInputToAll" class="upload-button p-2">
<!--            <img src="assets/attach.png" style="width: 20px; height: 25px; margin-left: 10px; margin-right: 10px; margin-top: 10px" alt="Upload">-->
            <i style="cursor: pointer"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="21" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3V320c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 53 43 96 96 96H352c53 0 96-43 96-96V352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V352z"/></svg></i>
          </label>
          <input type="file" id="fileInputToAll" class="file-input hidden" (change)="onFileChange($event)">

          <button (click)="sendMessageToAll()"><i><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"/></svg></i> </button>
        </div>
        <br>
        <h2 *ngIf="connectedUsers.length >= 1">Online Users</h2>
        <ul id="connectedUsers">
          <li *ngFor="let user of connectedUsers" class="user-item" (click)="userItemClick(user.nickName, user.fullName, user.status)">
            <input type="checkbox" name="user" class="user-checkbox" [attr.data-user-id]="user.nickName" [(ngModel)]="user.isSelected">
            <img src="assets/user_icon.png" alt="{{ user.fullName }}">
            <span>{{ user.fullName }}</span>
            <span class="nbr-msg hidden">0</span>
          </li>
        </ul>
        <hr style="height: 2px;" *ngIf="connectedUsers.length >= 1 && allUsers.length >= 1">
        <h2 *ngIf="allUsers.length >= 1">OFFLINE Users</h2>
        <li *ngFor="let user of allUsers" class="user-item" (click)="userItemClick(user.nickName, user.fullName, user.status)">
          <input type="checkbox" name="user" class="user-checkbox" [attr.data-user-id]="user.nickName" [(ngModel)]="user.isSelected">
          <img src="assets/user_icon.png" alt="{{ user.fullName }}">
          <span>{{ user.fullName }}</span>
          <span class="nbr-msg hidden">0</span>
        </li>
      </div>
<!--      <div>-->
<!--        <p id="connected-user-fullname" [hidden]="true">{{ fullname }}</p>-->
<!--        <a class="logout" href="javascript:void(0)" (click)="onLogout()" [hidden]="true">Logout</a>-->
<!--      </div>-->
    </div>

    <div class="chat-area-container">

      <div class="selected-user-bar hidden">
        <h3>{{ selectedFullName }} <img *ngIf="selectedStatus === 'ONLINE'" src="assets/enLigne.png" style="width: 15px; height: 15px; margin-left: 10px; margin-right: 10px;"> <img *ngIf="selectedStatus !== 'ONLINE'" src="assets/ofLine.png" style="width: 15px; height: 15px; margin-left: 10px; margin-right: 10px;"> </h3>
      </div>
      <div class="chat-area" id="chat-messages">

        <div *ngFor="let message of messages" class="message" [ngClass]="{'receiver': message.senderId === selectedUserId, 'sender': message.senderId !== selectedUserId}">
          <!-- Display each message here -->
<!--          <p> {{ message.content }} </p>-->
<!--          <i (click)="onDeleteMessage(message.id)"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512">&lt;!&ndash;!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.&ndash;&gt;<path fill="#000000" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></i>-->
<!--&lt;!&ndash;          <img src="assets/delete.png" style="width: 15px; height: 15px; margin-left: 10px; margin-right: 10px;" >&ndash;&gt;-->
<!--          <i *ngIf="message.attachementId !== '' && message.attachementId !== null" src="assets/download.png" (click)="downloadAttachment(message.attachementId)"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512">&lt;!&ndash;!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.&ndash;&gt;<path fill="#0259ed" d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg></i>-->
<!--&lt;!&ndash;          <img *ngIf="message.attachementId !== '' && message.attachementId !== null" src="assets/download.png" style="width: 15px; height: 15px; margin-left: 10px; margin-right: 10px;" (click)="downloadAttachment(message.attachementId)">&ndash;&gt;-->
          <div class="container mt-1" style="min-width: 100px">
            <div class="row" style="width: max-content">
              <!-- Message Content Row -->
              <div class="col-md-8 w-100 p-0">
                <div class="message-content-container">
                  <p class="message-content">{{ message.content }}</p>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <!-- Icons Row -->
            <div class="row mt-1 mb-1">
              <!-- Delete Icon Column -->
              <div class="col-md-6">
                <i class="delete-icon" (click)="onDeleteMessage(message.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><path fill="#D55725" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                </i>
              </div>

              <!-- Download Icon Column -->
              <div class="col-md-6 text-right">
                <i *ngIf="message.attachementId !== '' && message.attachementId !== null" (click)="downloadAttachment(message.attachementId)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><path fill="#000000" d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                </i>
              </div>
            </div>
          </div>






        </div>
      </div>
      <form id="messageForm" name="messageForm" (ngSubmit)="sendMessage()">
        <div id="message-input-one" name="message-input-one" class="message-input hidden">


          <input autocomplete="off" type="text" class="mesg-input" id="messageContentOne" name="messageContentOne" placeholder="Type your message..." [(ngModel)]="messageContentOne">
          <label for="fileInput" class="upload-button p-3">
<!--            <img src="assets/attach.png" style="width: 20px; height: 25px; margin-left: 10px; margin-right: 10px; margin-top: 10px" alt="Upload">-->
            <i style="cursor: pointer"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="21" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#0D6EFD" d="M246.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 109.3V320c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 53 43 96 96 96H352c53 0 96-43 96-96V352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V352z"/></svg></i>

          </label>
          <input type="file" id="fileInput" name="fileInput" class="file-input hidden" (change)="onFileChangeOne($event)">
          <button class="buttonone" type="submit"><i><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#0D6EFD" d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"/></svg></i></button>
        </div>
      </form>


    </div>
  </div>

    </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>
