<app-adminassets></app-adminassets>
<div id="app">
  <div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
      <div class="sidebar-header">
        <img src="assets/img/umi_logo.svg" style="zoom:150%;" srcset="">
      </div>
      <div class="sidebar-menu">
        <ul class="menu">
          <li class='sidebar-title'>Employee</li>

          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="user" width="20"></i>
              <span>Menu Employee</span>
            </a>

            <ul class="submenu ">
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" href="employee/demande-absence" routerLink="/employee/demande-absence">Demande Absence</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" href="employee/consulter-absences" routerLink="/employee/consulter-absences">Absences</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" href="employee/demande-formation" routerLink='/employee/demande-formation'>Demande Formation</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" href="employee/status-demande-formation" routerLink='/employee/status-demande-formation'>Status Formations</a>
              </li>
            </ul>

          </li>
          <li class='sidebar-title'>Administration</li>

          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="briefcase" width="20"></i>
              <span>Employees</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/all-employees">Afficher Employees</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/add-employee">Ajouter Employee</a>
              </li>

            </ul>

          </li>


          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="users" width="20"></i>
              <span>Stagiaires</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/demandes-Stage">Demandes</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/entretien">Entretien</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink='/admin/stagiaire'>Accepter</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/demandes-refusees">Refuser</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/stagiaire-carte">Carte Des Stagiaires</a>
              </li>

            </ul>

          </li>
          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="17.5" viewBox="0 0 640 512"><path fill="#0d6efd" d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9v28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5V291.9c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"/></svg></i>
              <span>Stages</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/stages/add-stage">Add Stage</a>
              </li>

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/stages/manage-stages">Gérer Les Stages</a>
              </li>

            </ul>

          </li>

          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="clock" width="20"></i>
              <span>Absences</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/demandes-absences">Demandes</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/absences-justifier">Justifier</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/absences-non-justifier">Non Justifier</a>
              </li>

            </ul>

          </li>

          <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
              <i data-feather="file-text" width="20"></i>
              <span>Formations</span>
            </a>

            <ul class="submenu ">

              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/manage-plan">Plan de formations</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/add-plan">Ajouter un Plan</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/manage-demande-formation">Demandes</a>
              </li>
              <li>
                <a routerLinkActive="Active" [routerLinkActiveOptions]="{exact : true}" routerLink="/admin/employee-formation">Formations</a>
              </li>
            </ul>

          </li>

        </ul>
      </div>
      <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
  </div>
  <div id="main">
    <app-adminheader>

    </app-adminheader>
    <div class="main-content container-fluid">
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Demandes d'Attestation</h3>
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Demandes-Attestation</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <section class="section">
        <div class="card">
          <div class="card-body">
            <table class='table table-hover' id="table1">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Télé</th>
                <th>Details</th>
                <th colspan="2">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>RACHID</td>
                <td>Amine</td>
                <td>0689768544</td>
                <td>
                  <a type="button" data-toggle="modal" data-target="#exampleModalLong">
                    <span class="badge bg-info text-dark"><i data-feather="eye" width="20"></i></span>
                  </a>

                  <!--form Modal -->
                  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLongTitle">Information de stagiaire</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                          </button>
                        </div>
                        <form action="#">
                          <div class="modal-body">
                            <section id="multiple-column-form 1">
                              <div class="row match-height">
                                <div class="col-12">
                                  <div class="card">
                                    <div class="card-content">
                                      <div class="card-body">
                                        <form class="form">
                                          <div class="row">
                                            <div class="col-md-6 col-12">
                                              <div class="form-group">
                                                <label for="prenom1-column">Prenom</label>
                                                <input type="text" id="prenom1-column" class="form-control"
                                                       placeholder="prenom"
                                                       name="prenom1-column" disabled>
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                              <div class="form-group">
                                                <label for="nom1-column">Nom</label>
                                                <input type="text" id="nom1-column" class="form-control"
                                                       placeholder="nom"
                                                       name="nom1-column" disabled>
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                              <div class="form-group">
                                                <label for="email1-id-column">Email</label>
                                                <input type="email" id="email1-id-column" class="form-control"
                                                       placeholder="email"
                                                       name="email1-id-column" disabled>
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                              <div class="form-group">
                                                <label for="cin1-column">CIN</label>
                                                <input type="text" id="cin1-column" class="form-control"
                                                       name="cin1-column"
                                                       placeholder="cin" disabled>
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                              <div class="form-group">
                                                <label for='tele-column'>Téléphone</label>
                                                <input type="text" id="tele-column" class="form-control"
                                                       name="tele-column"
                                                       placeholder="tele" disabled>
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                              <div class="form-group">
                                                <label for="niveau-column">Niveau</label>
                                                <input type="text" id="niveau-column" class="form-control"
                                                       name="niveau-column"
                                                       placeholder="niveau" disabled>
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                              <div class="form-group">
                                                <label>Gender</label>
                                                <select class="choices form-select" disabled>
                                                  <option value="Mr">Mr</option>
                                                  <option value="Mme">Mme</option>
                                                </select>
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                              <div class="form-group ">
                                                <label for="date1-naissance">Date de naissance</label>
                                                <div class="input-group date custom-datepicker" id="datepicker2">
                                                  <input type="date" class="form-control" id="date1-naissance"
                                                         name="date1-naissance" disabled/>
                                                </div>
                                              </div>
                                            </div>

                                            <embed src='../../assets/sgrh description.pdf' frameborder="0" width="100%" height="400px">
                                            <div class="col-12 d-flex justify-content-end">
                                              <button type="button" class="btn btn-primary mt-4 ml-1" data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">ok</span>
                                              </button>
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!--          End Modal        -->
                </td>

                <td>
                  <a type="button" data-toggle="modal" data-target="#danger">
                    <span class="badge bg-danger"><i data-feather="x" width="20"></i></span>
                  </a>


                  <!--Danger theme Modal -->
                  <div class="modal fade text-left" id="danger" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel120" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-danger">
                          <h5 class="modal-title white" id="myModalLabel120">Attention !!</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                          </button>
                        </div>
                        <div class="modal-body">
                          Êtes-vous sûr de vouloir supprimer cette demande ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Close</span>
                          </button>
                          <button type="button" class="btn btn-danger ml-1" data-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Supprimer</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>



                <td>
                  <a type="button" data-toggle="modal" data-target="#success">
                    <span class="badge bg-success"><i data-feather="check" width="20"></i></span>
                  </a>

                  <!--Success theme Modal -->
                  <div class="modal fade text-left" id="success" tabindex="-1" role="dialog"
                       aria-labelledby="myModalLabel110" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-success">
                          <h5 class="modal-title white" id="myModalLabel110">Acceptation</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                          </button>
                        </div>
                        <div class="modal-body">
                          Êtes-vous sûr de vouloir accepter cette demande ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Close</span>
                          </button>

                          <button type="button" class="btn btn-success ml-1" data-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Accept</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </td>
              </tr>
              <tr>
                <td>Dale</td>
                <td>fringilla.euismod.enimquam.ca</td>
                <td>0500 527693</td>
                <td>New Quay</td>
                <td>
                  <span class="badge bg-success">Active</span>
                </td>
              </tr>

              <tr>
                <td>Kibo</td>
                <td>feugiaturnajustofaucibus.co.uk</td>
                <td>07624 682306</td>
                <td>La Cisterna</td>
                <td>
                  <span class="badge bg-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Bruno</td>
                <td>elit.Etiam.laoreetluctuslobortisClass.edu</td>
                <td>07624 869434</td>
                <td>Rocca d'Arce</td>
                <td>
                  <span class="badge bg-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Leonard</td>
                <td>blandit.enim.consequatmollislectuspede.net</td>
                <td>0800 1111</td>
                <td>Lobbes</td>
                <td>
                  <span class="badge bg-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Hamilton</td>
                <td>maurisdiam.org</td>
                <td>0800 256 8788</td>
                <td>Sanzeno</td>
                <td>
                  <span class="badge bg-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Harding</td>
                <td>Lorem.ipsum.doloretnetuset.com</td>
                <td>0800 1111</td>
                <td>Obaix</td>
                <td>
                  <span class="badge bg-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Emmanuel</td>
                <td>eget.lacus.MaurisfeugiatSednec.org</td>
                <td>(016977) 8208</td>
                <td>Saint-Remy-Geest</td>
                <td>
                  <span class="badge bg-success">Active</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </section>
    </div>

    <app-adminfooter>

    </app-adminfooter>
  </div>
</div>
